* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100vh;
    background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
    overflow: scroll;
}

section {
    position: relative;
    max-width: 500px;
    border: 2px solid rgb(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(55px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
}

h1 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
}

h3 {
    font-size: 1rem;
    color: #fff;
    text-align: center;
    margin-left: 10px;
    margin-top: 5px;
}

p {
    font-size: 0.9rem;
    color: #fff;
    font-weight: 600;
    margin: 25px 0 10px;
}

a {
    text-decoration: none;
    color: lightblue;
    font-weight: 600;
    transition: all 0.1s ease-in-out;
}

a:hover {
    text-decoration: underline;
    color: darkcyan;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(255, 255, 255, 1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}

button:hover {
    background-color: rgb(255, 255, 255, 0.5);
}

.addButton {
    padding: 10px 15px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: auto;
}

.addButton:hover {
    background-color: #0056b3;
}

.removeButton {
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
    transition: background-color 0.3s;
}

.removeButton:hover {
    background-color: #c82333;
}

.listItem {
    display: flex;
    align-items: center;
    background-color: #151A2D;
    color: #fff;
    margin-right: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    padding-left: 5px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #ccc;
}

.listItem:hover {
    transform: scale(1.02);
}

.listContainer {
    display: flex;
    height: 40px;
    flex-wrap: wrap;
    gap: 10px; /* Space between the items */
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.flexContainer {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    min-width: 350px;
    gap: 10px;
}

.flexContainerColumn {
    display: flex;
    flex-direction: column;
    margin: 20px;
    overflow-y: auto;
}

.flexContainerColumnSmall {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    overflow-y: auto;
    border-radius: 20px;
    border: 1px solid #ccc;
    min-height: 20%;
    max-height: 20%;
}

/* Style for the error image */
.imageContainer {
    max-width: 500px; /* Limit the image width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Space between the image and icon */
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.inputContainer {
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 100%;
}

.content {
    width: 100%;
    margin-left: 300px;
    transition: 0.4s ease;
}

.content.fullScreen {
    margin-left: 100px;
}

.mainContent {
    width: 60%;
}

.sideContent {
    width: 40%;
    padding-left: 20px;
}

.beforeHidden {
    opacity: 1;
    max-height: 1000px;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 2s ease;
}

/* Hidden state */
.hidden {
    opacity: 0;
    max-height: 0;
    height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 1s ease;
}

.chartContainer {
    width: 100%;
    max-height: 500px;
    display: flex;
    height: auto;
    margin: 20px auto;
    padding: 15px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

/* Ensure the canvas resizes properly */
.chartContainer canvas {
    width: 100% !important;
    height: 100% !important;
}

.keyFigureBox {
    background: white;
    border-radius: 16px;
    width: 200px;
    height: 140px;
    padding: 20px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
    position: relative;
    transition: transform 0.2s ease-in-out;
}

.keyFigureBox:hover {
    transform: translateY(-5px);
}

.keyFigureHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    height: 40px;
}

.keyFigureValue {
    font-size: 26px;
    font-weight: bold;
    margin-top: 15px;
    color: #333;
}

.tooltip {
    position: relative;
    cursor: pointer;
    font-size: 16px;
    color: gray;
}

.tooltipText {
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    padding: 6px 10px;
    border-radius: 8px;
    position: absolute;
    bottom: 130%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 220px;
    width: max-content;
    opacity: 0;
    z-index: 10;
    transition: opacity 0.3s ease-in-out;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    white-space: normal;
}

.tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 1;
}

.positive {
    background: #e3fcef;
    color: #0f5132;
    border: 2px solid #0f5132;
    border-radius: 10px;
    padding: 10px;
}

.negative {
    background: #fde2e4;
    color: #842029;
    border: 2px solid #842029;
    border-radius: 10px;
    padding: 10px;
}
