<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Bank Account</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/alert.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="scripts/sidebar.js"></script>
    <script src="scripts/addBankAccount.js" defer></script>
    <script src="scripts/alert.js"></script>
    <script src="scripts/localization.js" defer></script>
</head>
<body>
<!-- Include the sidebar -->
<div th:replace="~{sidebar :: sidebar}"></div>

<!-- Main content -->
<div class="content">
    <div class="container">
        <!-- Main Section -->
        <div class="mainContent">
            <div class="flexContainer">
                <h1><span class="bi bi-bank2"></span></h1>
                <h1>Add New Bank Account</h1>
            </div>
            <p>Fill in the basic details to create a new bank bankAccount. You can add additional search strings later
                or right now. They can also be changed later.</p>
            <form>
                <div class="inputbox">
                    <span class="bi bi-card-text"></span>
                    <label for="name"></label>
                    <input type="text" id="name" name="name" placeholder="Bank account name">
                </div>
                <div class="inputbox">
                    <span class="bi bi-card-text"></span>
                    <label for="description"></label>
                    <input type="text" id="description" name="description"
                           placeholder="Bank Account description (Optional)">
                </div>
                <div class="checkboxWrapper">
                    <input id="isCheckingAccount" type="checkbox" class="switch">
                    <label for="isCheckingAccount">Bank account is a savings bankAccount</label>
                </div>

                <!--Hidden only for is SavingsAccount-->
                <div id="hiddenInputs" class="beforeHidden hidden">
                    <div class="inputbox">
                        <span class="bi bi-piggy-bank"></span>
                        <label for="interestRate"></label>
                        <input type="text" id="interestRate" name="interestRate"
                               placeholder="Bank bankAccount interest rate (Optional)">
                    </div>

                    <div class="flexContainerColumn">
                        <h3>Interest rate search strings</h3>
                        <div class="inputContainer">
                            <div class="inputbox">
                                <span class="bi bi-cash-stack"></span>
                                <label for="inputinterestRateStrings"></label>
                                <input type="text" id="inputinterestRateStrings" name="interestRateStrings"
                                       placeholder="Interest rate search strings">
                            </div>
                            <button class="addButton" id="addInterestRateStrings" type="button">Add</button>
                        </div>
                        <div id="interestRateSearchStrings" class="listContainer"></div>
                    </div>
                </div>

                <button id="submitButton" type="submit" style="margin-top: 20px">Create Bank Account</button>
            </form>
        </div>

        <!-- Right Section (Search Strings) -->
        <div class="sideContent">
            <div class="flexContainer">
                <h2><span class="bi bi-card-text"></span></h2>
                <h2>Optional Search Strings</h2>
            </div>
            <p>These fields are optional and can be added later. They help identify the corresponding data columns in
                the input data, which are used to create new transactions.</p>

            <!-- Counterparty Search Strings -->
            <div class="flexContainerColumn">
                <h3>Counterparty search strings</h3>
                <div class="inputContainer">
                    <div class="inputbox">
                        <span class="bi bi-card-text"></span>
                        <label for="inputCounterPartyStrings"></label>
                        <input type="text" id="inputCounterPartyStrings" name="counterPartyStrings"
                               placeholder="Counterparty search strings">
                    </div>
                    <button class="addButton" id="addCounterPartyStrings" type="button">Add</button>
                </div>
                <div id="counterPartySearchStrings" class="listContainer"></div>
            </div>

            <!-- Amount Search Strings -->
            <div class="flexContainerColumn">
                <h3>Amount search strings</h3>
                <div class="inputContainer">
                    <div class="inputbox">
                        <span class="bi bi-card-text"></span>
                        <label for="inputAmountStrings"></label>
                        <input type="text" id="inputAmountStrings" name="AmountStrings"
                               placeholder="Amount search strings">
                    </div>
                    <button class="addButton" id="addAmountStrings" type="button">Add</button>
                </div>
                <div id="amountSearchStrings" class="listContainer"></div>
            </div>

            <!-- Amount After Transaction Search Strings -->
            <div class="flexContainerColumn">
                <h3>Amount in bank after transaction search strings</h3>
                <div class="inputContainer">
                    <div class="inputbox">
                        <span class="bi bi-card-text"></span>
                        <label for="inputAmountAfterStrings"></label>
                        <input type="text" id="inputAmountAfterStrings" name="AmountAfterStrings"
                               placeholder="Amount in bank after transaction Search Strings">
                    </div>
                    <button class="addButton" id="addAmountAfterStrings" type="button">Add</button>
                </div>
                <div id="amountInBankAfterSearchStrings" class="listContainer"></div>
            </div>

            <!-- Date Search Strings -->
            <div class="flexContainerColumn">
                <h3>Date search strings</h3>
                <div class="inputContainer">
                    <div class="inputbox">
                        <span class="bi bi-card-text"></span>
                        <label for="inputDateStrings"></label>
                        <input type="text" id="inputDateStrings" name="DateStrings" placeholder="Date search strings">
                    </div>
                    <button class="addButton" id="addDateStrings" type="button">Add</button>
                </div>
                <div id="dateSearchStrings" class="listContainer"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>