<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Bank Account</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/alert.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="scripts/sidebar.js"></script>
    <script src="scripts/addBank.js" defer></script>
    <script src="scripts/alert.js"></script>
    <script src="scripts/localization.js" defer></script>
</head>
<body>
<!-- Include the sidebar -->
<div th:replace="sidebar :: sidebar"></div>

<!-- Main content -->
<div class="mainContent">
    <form action="addBank" method="post">
        <h1>Add New Bank Account</h1>
        <div class="inputbox">
            <span class="bi bi-envelope"></span>
            <label for="name"> </label>
            <input type="text" id="name" name="name" placeholder="Name">
        </div>
        <div class="inputbox">
            <span class="bi bi-envelope"></span>
            <label for="description"> </label>
            <input type="text" id="description" name="description" placeholder="Description">
        </div>
        <div class="inputContainer">
            <div class="inputbox">
                <span class="bi bi-card-text"></span>
                <label for="inputCounterPartyStrings"></label>
                <input type="text" id="inputCounterPartyStrings" name="counterPartyStrings"
                       placeholder="Counter party search strings">
            </div>
            <button class="addButton" id="addCounterPartyStrings" type="button">Add</button>
        </div>
        <div class="flexContainer">
            <h3>List of counterparty search strings:</h3>
            <div id="counterPartyStrings" class="listContainer">
            </div>
        </div>
        <div class="inputContainer">
            <div class="inputbox">
                <span class="bi bi-card-text"></span>
                <label for="inputAmountStrings"></label>
                <input type="text" id="inputAmountStrings" name="AmountStrings"
                       placeholder="Amount search strings">
            </div>
            <button class="addButton" id="addAmountStrings" type="button">Add</button>
        </div>
        <div class="flexContainer">
            <h3>List of amount search strings:</h3>
            <div id="amountStrings" class="listContainer">
            </div>
        </div>
        <div class="inputContainer">
            <div class="inputbox">
                <span class="bi bi-card-text"></span>
                <label for="inputAmountAfterStrings"></label>
                <input type="text" id="inputAmountAfterStrings" name="AmountAfterStrings"
                       placeholder="Amount in bank after transaction Search Strings">
            </div>
            <button class="addButton" id="addAmountAfterStrings" type="button">Add</button>
        </div>
        <div class="flexContainer">
            <h3>List of amount after transaction search strings:</h3>
            <div id="amountAfterStrings" class="flexContainer">
            </div>
        </div>
        <div class="inputContainer">
            <div class="inputbox">
                <span class="bi bi-card-text"></span>
                <label for="inputDateStrings"></label>
                <input type="text" id="inputDateStrings" name="DateStrings"
                       placeholder="Date search strings">
            </div>
            <button class="addButton" id="addDateStrings" type="button">Add</button>
        </div>
        <div class="flexContainer">
            <h3>List of date search strings:</h3>
            <div id="dateStrings" class="flexContainer">
            </div>
        </div>
        <button class="addButton" id="submitButton" type="submit">Create Bank Account</button>
    </form>
</div>
</body>
</html>