<div th:fragment="bankAccountOverview" id="content">
    <div style="height: 98%" class="flexContainerColumn">
        <!--Header section-->
        <div class="flexContainerSpaced">
            <div class="flexContainer">
                <h1><span class="bi bi-bank2"></span></h1>
                <h1 id="bankName"></h1>
            </div>
        </div>

        <!--Chart section-->
        <div class="pageContainer">
            <div class="flexContainerSpaced">
                <div class="container">
                    <div class="inputDate">
                        <div class="textHeader">
                            <label for="startDate">
                                <span id="startDateText" data-i18n="startDateText"></span>
                            </label>
                            <div class="tooltip tooltipBottom bi bi-info">
                                <span class="tooltipText" data-i18n="startDateTooltip"></span>
                            </div>
                        </div>
                        <input type="date" id="startDate" name="startDate">
                    </div>
                    <div class="inputDate">
                        <div class="textHeader">
                            <label for="endDate">
                                <span id="endDateText" data-i18n="endDateText"></span>
                            </label>
                            <div class="tooltip tooltipBottom bi bi-info">
                                <span class="tooltipText" data-i18n="endDateTooltip"></span>
                            </div>
                        </div>
                        <input type="date" id="endDate" name="endDate">
                    </div>
                    <button style="margin-top: 32px; background: #ff4757" class="iconButton" id="clearDateButton">
                        <span class="bi bi-trash-fill"></span>
                    </button>
                </div>

                <div class="fileUploader">
                    <div class="fileUploaderHeader">
                        <h2 class="fileUploaderTitle" data-i18n="uploadData"></h2>
                    </div>
                    <div class="fileUploadBox">
                        <h2 class="boxTitle">
                            <span class="fileInstructions" data-i18n="fileUploadDrag"></span>
                            <span class="fileBrowseButton" data-i18n="browseFiles"></span>
                        </h2>
                    </div>
                    <input class="fileBrowseInput" type="file" multiple hidden>
                    <ul class="fileList"></ul>
                </div>
            </div>

            <div class="chartContainer">
                <canvas id="lineChart"></canvas>
            </div>

            <!--Key figures section-->
            <div class="flexContainerSpaced">
                <div id="keyFiguresContainer" class="flexContainer"></div>
            </div>
        </div>
    </div>
</div>