<div th:fragment="changeContracts" id="content">
    <div class="flexContainerColumn">
        <!--Header-->
        <div class="flexContainer">
            <button class="backButton" id="backButton">
                <span class="bi bi-arrow-left-circle-fill"></span>
            </button>
            <div class="flexContainer">
                <h1><span class="bi bi-file-earmark-fill"></span></h1>
                <h1 data-i18n="changeContractHeader"></h1>
            </div>
        </div>

        <div class="flexContainer" style="margin-top: 20px">
            <button class="iconButton tooltip tooltipBottom" id="addGroupToContract">
                <i class="bi bi-plus-lg"></i>
                <span class="normalText" data-i18n="addGroupToContract"></span>
                <span class="tooltipText" data-i18n="addGroupToContractTooltip"></span>
            </button>

            <button class="iconButton tooltip tooltipBottom" id="removeGroupFromContract">
                <i class="bi bi-dash-lg"></i>
                <span class="normalText" data-i18n="removeGroupFromContract"></span>
                <span class="tooltipText" data-i18n="removeGroupFromContractTooltip"></span>
            </button>
        </div>

        <div class="container" style="padding: 0 0 20px; gap: 50px">
            <!-- Left Column: Transactions -->
            <div class="pageContainer" style="width: 50%">
                <div class="flexContainer" style="margin-top: 20px">
                    <h1 data-i18n="transactionsGroupHeader" style="margin-bottom: 10px; margin-left: 20px"></h1>
                    <div class="tooltip tooltipBottom bi bi-info">
                        <span class="tooltipText" data-i18n="transactionsGroupHeaderTooltip"></span>
                    </div>
                </div>

                <div id="transactionGroups" class="flexContainerColumn"
                     style="overflow: scroll; height: 76vh">
                </div>
            </div>

            <!-- Right Column: Contracts -->
            <div class="pageContainer" style="padding-right: 0; width: 50%">
                <div class="flexContainer" style="margin-top: 20px">
                    <h1 data-i18n="contractsHeader" style="margin-bottom: 10px; margin-left: 20px;"></h1>
                    <div class="tooltip tooltipBottom bi bi-info">
                        <span class="tooltipText" data-i18n="contractsHeaderTooltip"></span>
                    </div>
                </div>
                <div class="flexContainerColumn" id="contractsContainer" style="height: 76vh; overflow: scroll"></div>
            </div>
        </div>
    </div>
</div>