<div th:fragment="changeContract" class="mainContainer" id="content">
    <div class="verticalContainer widthFull">
        <!--Header-->
        <div class="horizontalContainer marginBottomBig">
            <button class="backButton" id="backButton">
                <span class="bi bi-arrow-left-circle-fill"></span>
            </button>
            <div class="horizontalContainer">
                <h1><span class="bi bi-file-earmark-fill"></span></h1>
                <h1 data-i18n="changeContractHeader"></h1>
            </div>
        </div>

        <div class="horizontalContainer marginBottomBig">
            <button class="iconButton tooltip tooltipBottom" id="addGroupToContract">
                <i class="bi bi-plus-lg"></i>
                <span class="normalText" data-i18n="addGroupToContract"></span>
                <span class="tooltipText" data-i18n="addGroupToContractTooltip"></span>
            </button>

            <button class="iconButton tooltip tooltipBottom" id="removeGroupFromContract">
                <i class="bi bi-dash-lg"></i>
                <span class="normalText" data-i18n="removeGroupFromContract"></span>
                <span class="tooltipText" data-i18n="removeGroupFromContractTooltip"></span>
            </button>
        </div>

        <div class="horizontalContainer">
            <!-- Left Column: Transactions -->
            <div class="verticalContainer widthHalf">
                <div class="horizontalContainer marginBottom">
                    <h1 data-i18n="transactionsGroupHeader"></h1>
                    <div class="tooltip tooltipBottom bi bi-info">
                        <span class="tooltipText" data-i18n="transactionsGroupHeaderTooltip"></span>
                    </div>
                </div>

                <div id="transactionGroups" class="verticalContainer">
                </div>
            </div>

            <!-- Right Column: Contracts -->
            <div class="verticalContainer widthHalf">
                <div class="horizontalContainer marginBottom">
                    <h1 data-i18n="contractsHeader"></h1>
                    <div class="tooltip tooltipBottom bi bi-info">
                        <span class="tooltipText" data-i18n="contractsHeaderTooltip"></span>
                    </div>
                </div>
                <div class="verticalContainer" id="contractsContainer"></div>
            </div>
        </div>
    </div>
</div>