<div th:fragment="changeContracts" id="content">
    <div style="height: 98%" class="flexContainerColumn">
        <!--Header-->
        <div class="flexContainer">
            <button class="iconButton" id="backButton">
                <span class="bi bi-arrow-left"></span>
            </button>
            <div class="flexContainer">
                <h1><span class="bi bi-file-earmark-fill"></span></h1>
                <h1 data-i18n="changeContractHeader"></h1>
            </div>
        </div>

        <div class="pageContainer">
            <div class="flexContainerSpaced">
                <div id="transactionGroups" class="listContainerColumn" style="max-width: 30%; overflow: visible">

                </div>
            </div>
        </div>
    </div>
</div>