<div th:fragment="dashboard" class="mainContainer" id="content">
        <div class="widthFull verticalContainer">
            <!--Header section-->
            <div class="horizontalContainer marginBottom">
                <div class="horizontalContainer">
                    <h1><span class="bi bi-bar-chart-line-fill"></span></h1>
                    <h1 data-i18n="dashboard"></h1>
                </div>
            </div>

            <div class="verticalContainer">
                <div class="horizontalContainer marginBottomBig">
                    <div class="horizontalContainer">
                        <div class="inputDate">
                            <div class="textHeader">
                                <label for="startDate">
                                    <span id="startDateText" data-i18n="startDateText"></span>
                                </label>
                                <div class="tooltip tooltipBottom bi bi-info">
                                    <span class="tooltipText" data-i18n="startDateTooltip"></span>
                                </div>
                            </div>
                            <input type="date" id="startDate" name="startDate">
                        </div>
                        <div class="inputDate">
                            <div class="textHeader">
                                <label for="endDate">
                                    <span id="endDateText" data-i18n="endDateText"></span>
                                </label>
                                <div class="tooltip tooltipBottom bi bi-info">
                                    <span class="tooltipText" data-i18n="endDateTooltip"></span>
                                </div>
                            </div>
                            <input type="date" id="endDate" name="endDate">
                        </div>
                        <button class="removeButton" id="clearDateButton">
                            <span class="bi bi-trash-fill"></span>
                        </button>
                    </div>
                </div>

                <div class="chartContainer">
                    <canvas id="lineChart"></canvas>
                </div>

                <!--Key figures section-->
                <div class="horizontalContainer marginTopBig">
                    <div id="keyFiguresContainer" class="horizontalContainer"></div>
                </div>
            </div>
        </div>
</div>