<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinTrackr</title>
    <link rel="icon" type="image/x-icon" href="images/logo.png">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/input.css">
    <link rel="stylesheet" href="css/sidebar.css">
    <link rel="stylesheet" href="css/alert.css">
    <link rel="stylesheet" href="css/tables.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <script src="scripts/sidebar.js" defer></script>
    <script src="scripts/addBankAccount.js" defer></script>
    <script src="scripts/bankAccountOverview.js" defer></script>
    <script src="scripts/alert.js" defer></script>
    <script src="scripts/dataLoader.js" defer></script>
    <script src="scripts/localization.js" defer></script>
    <script src="scripts/chart.js" defer></script>
    <script src="scripts/keyFigures.js" defer></script>
    <script src="scripts/utils.js" defer></script>
    <script src="scripts/dialog.js" defer></script>
    <script src="scripts/transactions.js" defer></script>
    <script src="scripts/changeContract.js" defer></script>
    <script src="scripts/dataStorage.js" defer></script>
    <script src="scripts/tableFunctions.js" defer></script>
</head>
<body>
<div th:insert="~{sidebar :: sidebar}"></div>
<div id="content" class="content">
    <div th:replace="~{${template}}"></div> <!-- Dynamically replaced content -->
</div>
</body>
</html>
