<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">FinTrackr</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/alert.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="scripts/sidebar.js" defer></script>
    <script src="scripts/addBankAccount.js" defer></script>
    <script src="scripts/alert.js" defer></script>
    <script src="scripts/dataLoader.js" defer></script>
    <script src="scripts/localization.js" defer></script>
</head>
<body>
<div th:insert="~{sidebar :: sidebar}"></div>
<div id="content" class="content">
    <div th:replace="~{${template}}"></div> <!-- Dynamically replaced content -->
</div>
</body>
</html>
