<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/alert.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="scripts/login.js" defer></script>
    <script src="scripts/alert.js"></script>
</head>
<body style="justify-content: center; align-items: center;">
<section>
    <form action="login" method="post">
        <h1>Login</h1>
        <div class="inputbox">
            <span class="bi bi-envelope"></span>
            <label for="email"> </label>
            <input type="email" id="email" name="username" placeholder="Email">
        </div>
        <div class="inputbox">
            <span class="bi bi-lock"></span>
            <label for="password"> </label>
            <input type="password" id="password" name="password" placeholder="Password">
        </div>
        <button type="submit" id="submitButton"><span class="bi bi-box-arrow-right"></span> Sign Up</button>
        <div>
            <p>Don´t have an account yet? <a href="signup"><span class="bi bi-box-arrow-right"></span> Sign Up</a></p>
        </div>
    </form>
</section>
</body>
</html>