<div th:fragment="changeContract" class="mainContainer" id="content">
    <div class="verticalContainer widthFull">
        <!--Header-->
        <div class="horizontalContainer marginBottomBig">
            <button class="backButton" id="backButton">
                <span class="bi bi-arrow-left-circle-fill"></span>
            </button>
            <div class="horizontalContainer">
                <h1><span class="bi bi-file-earmark-fill"></span></h1>
                <h1 data-i18n="mergeContractsHeader"></h1>
            </div>
        </div>

        <div class="horizontalContainer marginBottomBig">
            <button class="iconButton tooltip tooltipBottom" id="mergeContractsHeader">
                <i class="bi bi-plus-lg"></i>
                <span class="normalText" data-i18n="mergeContractsHeader"></span>
                <span class="tooltipText" data-i18n="mergeContractsHeaderTooltip"></span>

            </button>
            <button class="iconButton tooltip tooltipBottom" id="selectHeader">
                <i class="bi bi-plus-lg"></i>
                <span class="normalText" data-i18n="selectHeader"></span>
                <span class="tooltipText" data-i18n="selectHeaderTooltip"></span>
            </button>
            <button class="iconButton tooltip tooltipBottom" id="removeHeader">
                <i class="bi bi-minus-lg"></i>
                <span class="normalText" data-i18n="removeHeader"></span>
                <span class="tooltipText" data-i18n="removeHeaderTooltip"></span>
            </button>
        </div>

        <div class="horizontalContainer">
            <!-- Left Column: Header Contract -->
            <div class="verticalContainer widthHalf">
                <div class="horizontalContainer">
                    <h1 data-i18n="headerContract"></h1>
                    <div class="tooltip tooltipBottom bi bi-info">
                        <span class="tooltipText" data-i18n="headerContractTooltip"></span>
                    </div>
                </div>

                <div id="headerContract" class="verticalContainer"></div>
            </div>

            <!-- Right Column: Contracts -->
            <div class="verticalContainer widthHalf">
                <div class="horizontalContainer">
                    <h1 data-i18n="contractsToMerge"></h1>
                    <div class="tooltip tooltipBottom bi bi-info">
                        <span class="tooltipText" data-i18n="contractsToMergeTooltip"></span>
                    </div>
                </div>
                <div id="contractsContainer" class="verticalContainer"></div>
            </div>
        </div>
    </div>
</div>