<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinTrackr</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="scripts/sidebar.js"></script>
    <script src="scripts/localization.js" defer></script>

</head>
<body>
<aside th:fragment="sidebar" class="sidebar">
    <!--Header-->
    <header class="sidebarHeader">
        <a href="#" class="headerLogo">
            <img src="images/logo.png" alt="FinTrackr">
        </a>
        <button class="sidebarToggle">
            <span class="bi bi-caret-left-square-fill"></span>
        </button>
    </header>

    <!--Top list-->
    <nav class="sidebarNav">
        <ul id="topNav" class="navList primaryNav">
            <li class="navItem">
                <a id="dashboard" href="#" class="navLink">
                    <span class="bi bi-bar-chart-line-fill"></span>
                    <span class="navLable" data-i18n="dashboard"></span>
                </a>
                <span class="navTooltip" data-i18n="dashboard"></span>
            </li>
            <li class="navItem">
                <a d="addBank" href="/addBank" class="navLink">
                    <span class="bi bi-bank2"></span>
                    <span class="navLable" data-i18n="addBank"></span>
                </a>
                <span class="navTooltip" data-i18n="addBank"></span>
            </li>
        </ul>

        <!--Bottom list-->
        <ul class="navList secondaryNav">
            <li class="navItem">
                <a d="settings" href="#" class="navLink">
                    <span class="bi bi-gear-fill"></span>
                    <span class="navLable" data-i18n="settings"></span>
                </a>
                <span class="navTooltip" data-i18n="settings"></span>
            </li>
            <li class="navItem">
                <a d="logout" href="/logout" class="navLink">
                    <span class="bi bi-box-arrow-left"></span>
                    <span class="navLable" data-i18n="logout"></span>
                </a>
                <span class="navTooltip" data-i18n="logout"></span>
            </li>
        </ul>
    </nav>
</aside>
</body>
</html>
