<aside th:fragment="sidebar" class="sidebar">
    <!--Header-->
    <header class="sidebarHeader">
        <a href="#" class="headerLogo">
            <img src="images/logo.png" alt="FinTrackr">
        </a>
        <button class="sidebarToggle">
            <span class="bi bi-caret-left-square-fill"></span>
        </button>
    </header>

    <!--Top list-->
    <nav class="sidebarNav">
        <ul id="topNav" class="navList primaryNav">
            <li class="navItem">
                <a id="dashboard" href="/dashboard" data-ajax="true" class="navLink">
                    <span class="bi bi-bar-chart-line-fill"></span>
                    <span class="navLabel" data-i18n="dashboard"></span>
                </a>
                <span class="navTooltip" data-i18n="dashboard"></span>
            </li>
            <li class="navItem">
                <a id="addBankAccount" href="/addBankAccount" data-ajax="true" class="navLink">
                    <span class="bi bi-bank2"></span>
                    <span class="navLabel" data-i18n="addBankAccount"></span>
                </a>
                <span class="navTooltip" data-i18n="addBankAccount"></span>
            </li>
            <li class="navItem">
                <a id="counterParties" href="/counterParties" data-ajax="true" class="navLink">
                    <span class="bi bi-person-fill"></span>
                    <span class="navLabel" data-i18n="counterParties"></span>
                </a>
                <span class="navTooltip" data-i18n="counterParties"></span>
            </li>
            <li class="navItem">
                <a id="categories" href="/manageCategories" data-ajax="true" class="navLink">
                    <span class="bi bi-person-fill"></span>
                    <span class="navLabel" data-i18n="manageCategories"></span>
                </a>
                <span class="navTooltip" data-i18n="manageCategories"></span>
            </li>
        </ul>

        <!--Bottom list-->
        <ul class="navList secondaryNav">
            <li class="navItem">
                <a id="settings" href="#" data-ajax="true" class="navLink">
                    <span class="bi bi-gear-fill"></span>
                    <span class="navLabel" data-i18n="settings"></span>
                </a>
                <span class="navTooltip" data-i18n="settings"></span>
            </li>
            <li class="navItem">
                <a id="logout" href="/logout" class="navLink">
                    <span class="bi bi-box-arrow-left"></span>
                    <span class="navLabel" data-i18n="logout"></span>
                </a>
                <span class="navTooltip" data-i18n="logout"></span>
            </li>
        </ul>
    </nav>
</aside>