<div th:fragment="transactions" id="content">
    <div class="flexContainerColumn">
        <div class="flexContainer">
            <h1><span class="bi bi-receipt"></span></h1>
            <h1>Transactions</h1>
        </div>

        <div class="tableContainer">
            <!-- Controls -->
            <div style="padding: 0" class="flexContainerSpaced">
                <div style="padding-left: 5px" class="container checkboxWrapper">
                    <input id="showHidden" type="checkbox" class="switch">
                    <label for="showHidden">Show Hidden Transactions</label>
                </div>
                <div style="padding-right: 0" class="container">
                    <div class="filters">
                        <label for="filterCategory"></label><select id="filterCategory">
                    </select>
                    </div>
                    <div class="searchBar">
                        <label>
                            <input type="text" placeholder="Search...">
                        </label>
                        <button><i class="bi bi-search"></i></button>
                    </div>
                    <button style="margin-right: 0" class="addButton"><i class="bi bi-download"></i> Export</button>
                </div>
            </div>

            <!-- Table -->
            <table>
                <thead>
                <tr>
                    <th><label for="selectAll"></label><input type="checkbox" id="selectAll"></th>
                    <th>Counterparty <i class="bi bi-arrows-expand"></i></th>
                    <th>Contract <i class="bi bi-arrows-expand"></i></th>
                    <th data-sort="amountInBankBefore">Amount in bank before <i class="bi bi-arrows-expand"></i></th>
                    <th data-sort="amount">Amount <i class="bi bi-arrows-expand"></i></th>
                    <th data-sort="amountInBankAfter">Amount in bank after <i class="bi bi-arrows-expand"></i></th>
                    <th data-sort="date">Date <i class="bi bi-arrows-expand"></i></th>
                    <th>Category <i class="bi bi-arrows-expand"></i></th>
                </tr>
                </thead>
            </table>

            <!-- Pagination -->
            <div class="pagination">
                <button class="disabled" id="previousButton">Previous</button>
                <span class="currentPage" id="currentPage">Page 1 of 5</span>
                <button id="nextButton">Next</button>
                <label for="itemsPerPage"></label><select id="itemsPerPage">
                    <option value="20">20 per page</option>
                    <option value="50">50 per page</option>
                    <option value="100">100 per page</option>
                </select>
            </div>
        </div>
    </div>
</div>