<div th:fragment="transactions" id="content">
    <div style="height: 98%" class="flexContainerColumn">
        <div class="flexContainer">
            <h1><span class="bi bi-receipt"></span></h1>
            <h1 data-i18n="transactions"></h1>
        </div>

        <div class="tableContainer">
            <!-- Controls -->
            <div style="padding: 0"  class="flexContainerSpaced">
                <div style="padding-left: 5px" class="container">
                    <div class="checkboxWrapper">
                        <input id="showHiddenRows" type="checkbox" class="switch">
                        <label for="showHiddenRows" data-i18n="showHiddenTransactions"></label>
                    </div>
                </div>
                <div class="container">
                    <button class="iconButton tooltip tooltipBottom" id="changeHiddenButton">
                        <i class="bi bi-eye"></i>
                        <span class="normalSpan" data-i18n="changeHiddenButton"></span>
                        <span class="tooltipText" data-i18n="changeHiddenButtonTooltip"></span>
                    </button>
                    <button class="iconButton tooltip tooltipBottom" id="changeContractButton">
                        <i class="bi bi-file-earmark-fill"></i>
                        <span class="normalSpan" data-i18n="changeContractButton"></span>
                        <span class="tooltipText" data-i18n="changeContractButtonTooltip"></span>
                    </button>
                    <button class="iconButton tooltip tooltipBottom" id="changeCategoryButton">
                        <i class="bi bi-tag-fill"></i>
                        <span class="normalSpan" data-i18n="changeCategoryButton"></span>
                        <span class="tooltipText" data-i18n="changeCategoryButtonTooltip"></span>
                    </button>
                    <button class="iconButton tooltip tooltipBottom" id="changeCounterPartyButton">
                        <i class="bi bi-person-fill"></i>
                        <span class="normalSpan" data-i18n="changeCounterPartyButton"></span>
                        <span class="tooltipText" data-i18n="changeCounterPartyButtonTooltip"></span>
                    </button>
                </div>
                <div style="padding-right: 0" class="container">
                    <button style="margin-right: 0" class="iconButton tooltip tooltipBottom">
                        <i class="bi bi-download"></i>
                        <span class="normalSpan" data-i18n="export"></span>
                        <span class="tooltipText" data-i18n="exportTooltip"></span>
                    </button>
                    <div class="searchBar">
                        <label for="searchBarInput"></label>
                        <input type="text" id="searchBarInput" data-i18n-placeholder="searchText">
                    </div>
                </div>
            </div>

            <!-- Table -->
            <table>
                <thead>
                <tr>
                    <th style="width: 5%" class="thHeader">
                    </th>
                    <th style="width: 25%" class="thHeader">
                        <span data-i18n="counterParty"></span>
                        <i data-type="string" data-index="1" class="iconColor bi bi-arrows-expand"></i>
                    </th>
                    <th style="width: 15%" class="thHeader">
                        <span data-i18n="contract"></span>
                        <i data-type="string" data-index="2" class="iconColor bi bi-arrows-expand"></i>
                    </th>
                    <th style="width: 15%" class="thHeader">
                        <span data-i18n="category"></span>
                        <i data-type="string" data-index="3" class="iconColor bi bi-arrows-expand"></i>
                    </th>
                    <th style="width: 10%" class="rightAligned thHeader">
                        <span data-i18n="date"></span>
                        <i data-type="date" data-index="4" class="iconColor bi bi-arrows-expand"></i>
                    </th>
                    <th style="width: 10%" class="rightAligned thHeader">
                        <span data-i18n="amountInBankBefore"></span>
                        <i data-type="number" data-index="5" class="iconColor bi bi-arrows-expand"></i>
                    </th>
                    <th style="width: 10%" class="rightAligned thHeader">
                        <span data-i18n="amount"></span>
                        <i data-type="number" data-index="6" class="iconColor bi bi-arrows-expand"></i>
                    </th>
                    <th style="width: 10%" class="rightAligned thHeader">
                        <span data-i18n="amountInBankAfter"></span>
                        <i style="margin-right: 20px" data-type="number" data-index="7" class="iconColor bi bi-arrows-expand"></i>
                    </th>
                </tr>
                </thead>
                <tbody id="tableBody">
                </tbody>
            </table>

            <!-- Pagination -->
            <div class="pagination">
                <button class="disabled" id="previousButton" data-i18n="previous"></button>
                <div style="max-width: 200px; min-width: 200px" class="container">
                    <span class="normalSpan" data-i18n="page"></span>
                    <span class="normalSpan" data-index="1" id="currentPage"></span>
                    <span class="normalSpan" data-i18n="of"></span>
                    <span class="normalSpan" id="numberOfPages"></span>
                </div>
                <button id="nextButton" data-i18n="next"></button>
                <label for="itemsPerPage"></label><select id="itemsPerPage">
                <option value="0">All</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            </div>
        </div>
    </div>
</div>